body {
  background-color: #92a6db;
  font-family: monospace;
  font-size: 16px;
  color: #343434;
}

h1 {
  color: #1765e5;
  font-family: 'Courier New', Courier, monospace;
}

nav {
  margin: 10px 0px;
}

.link {
  color: #1765e5;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: #efefef;
  outline:  1px #efefef solid;
  text-decoration: none;
}

.link:active {
  color:#a10707;
}

.link + .link {
  margin-left: 10px;
}

#show {
  background: #1765e5;
  color: #efefef;
  border: 2px #222 solid;
}

.description {
  border: 2px #1765e5 solid;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

header .note {
  color: #a10707;
  font-weight: lighter;
}

details > summary {
  font-weight: bold;
  color: #1765e5;
}

details > summary:hover {
  outline: 1px #efefef solid;
  cursor: pointer;
}

legend ~ div {
  color: #222;
  font-weight: bold;
}